<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora fugit tempore totam soluta reiciendis sapiente error similique quam atque dolor cupiditate neque nulla suscipit, deleniti amet. Laudantium, excepturi iure!
        </p>
    </footer>
</body>
</html>